body {
  background-color: #1b262c;
  font-family: monospace;
}

.menu {
  background-color: white;
  height: 60px;
  border-radius: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  font-size: 25px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  z-index: 2;
  margin-right: 16px;
}
.menu span {
  cursor: pointer;
}
.page {
  height: 600px;
  display: grid;
  /* flex-wrap: wrap; */
  place-items: center;
  /* align-content: center;
  justify-items: center; */
  text-align: center;
  flex-direction: column;
  padding-top: 70px;
  box-sizing: border-box;
  color: white;
}

.home {
  display: flex;
  font-size: 30px;
  padding-top: 90px;
  box-sizing: border-box;
}

input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  height: 40px;
  width: 250px;
  margin: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

#sendBt {
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px solid;
  border-color: white;
  color: white;
  height: 30px;
  width: 100px;
  margin-top: 30px;
}
#sendBt:active {
  background-color: lightgray;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  height: 150px;
}

#portfolioContent {
  display: block;
}

#portfolioContent #logo {
  width: 60x;
  height: 60px;
  border-radius: 30px;
}
