body {
  background-color: lightblue;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}

.menu {
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  position: fixed;
}
.menu span {
  cursor: url("src/clover-cursor.png"), auto;
}
.page {
  height: 600px;
  align-items: center;
  display: block;
  justify-items: center;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 130%;
}
